In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df = pd.read_csv(r'C:\Users\Kshitij\OneDrive\Desktop\Projects\Inhouse Project\Covid-19\Prediction\Death Rate in the Pandemic Prediction\Covid_Death.csv')

In [35]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03-05-2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03-06-2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09-06-2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12-06-2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21-06-2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [36]:
def date_to_binary(date):
    if date == '9999-99-99':
        return 0
    else:
        return 1

In [37]:
df['DATE_DIED'] = df['DATE_DIED'].apply(lambda x: date_to_binary(x))

In [38]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,1,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,1,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,1,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,1,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,1,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [39]:
def age_to_binary(age):
    if age >= 50 :
        return 1
    else:
        return 0

In [40]:
df['AGE'] = df['AGE'].apply(lambda x: age_to_binary(x))

In [41]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,1,97,1,1,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,1,97,1,1,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,1,1,2,1,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,1,97,2,1,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,1,97,2,1,97,1,...,2,2,1,2,2,2,2,2,3,97

In [42]:
replace_map1 = {97: 2, 98: 2, 99: 1}

In [43]:
df['INTUBED'] = df['INTUBED'].replace(replace_map1)

In [44]:
df.head(10)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,1,2,1,1,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,1,2,1,1,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,1,1,2,1,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,1,2,2,1,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,1,2,2,1,97,1,...,2,2,1,2,2,2,2,2,3,97
5,1,2,1,2,1,1,99,0,2,2,...,2,2,2,2,2,2,2,2,7,99
6,1,2,2,2,1,1,1,0,97,2,...,2,2,2,2,2,2,2,2,7,2
7,1,2,1,2,1,1,2,0,2,2,...,2,2,2,2,2,2,2,2,7,2
8,1,2,2,2,1,1,1,0,97,2,...,2,2,2,2,2,2,2,2,7,2
9,1,2,2,2,1,1,1,0,97,2,...,2,2,2,2,1,2,2,2,5,99

In [45]:
col1 = ['PNEUMONIA', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY', 'RENAL_CHRONIC', 'TOBACCO', 'ICU']
for i in col1:
    df[i] = df[i].replace(replace_map1)

In [46]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,1,2,1,1,2,2,...,2,2,1,2,2,2,2,2,3,2
1,2,1,2,1,1,2,1,1,2,2,...,2,2,1,2,2,1,1,2,5,2
2,2,1,2,2,1,1,2,1,2,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,1,2,2,1,2,2,...,2,2,2,2,2,2,2,2,7,2
4,2,1,2,1,1,2,2,1,2,1,...,2,2,1,2,2,2,2,2,3,2

In [47]:
replace_map2 = {1: 0, 2: 1}

In [48]:
df['SEX'] = df['SEX'].replace(replace_map2)

In [49]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,0,1,1,2,1,1,2,2,...,2,2,1,2,2,2,2,2,3,2
1,2,1,1,1,1,2,1,1,2,2,...,2,2,1,2,2,1,1,2,5,2
2,2,1,1,2,1,1,2,1,2,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,0,1,1,2,2,1,2,2,...,2,2,2,2,2,2,2,2,7,2
4,2,1,1,1,1,2,2,1,2,1,...,2,2,1,2,2,2,2,2,3,2

In [50]:
replace_map3 = {1: 1, 2: 0}

In [51]:
col2 = ['PATIENT_TYPE', 'INTUBED', 'PNEUMONIA', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY', 'RENAL_CHRONIC', 'TOBACCO', 'ICU']
for i in col2:
    df[i] = df[i].replace(replace_map3)

In [52]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,0,1,1,0,1,1,0,0,...,0,0,1,0,0,0,0,0,3,0
1,2,1,1,1,1,0,1,1,0,0,...,0,0,1,0,0,1,1,0,5,0
2,2,1,1,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,3,0
3,2,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,7,0
4,2,1,1,1,1,0,0,1,0,1,...,0,0,1,0,0,0,0,0,3,0

In [53]:
df.rename(columns={"USMER": "LEVEL_TREATMENT", "PATIENT_TYPE": "RETURNED_HOME", "DATE_DIED": "DEATH", "INTUBED": "INTUBE", "HIPERTENSION": "HYPERTENSION", "CLASIFFICATION_FINAL": "COVID"}, inplace = True)

In [54]:
replace_map4 = {1: 1, 2: 1, 3: 1, 4: 0, 5: 0, 6: 0, 7: 0}

In [55]:
df.head()

,LEVEL_TREATMENT,MEDICAL_UNIT,SEX,RETURNED_HOME,DEATH,INTUBE,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,COVID,ICU
0,2,1,0,1,1,0,1,1,0,0,...,0,0,1,0,0,0,0,0,3,0
1,2,1,1,1,1,0,1,1,0,0,...,0,0,1,0,0,1,1,0,5,0
2,2,1,1,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,3,0
3,2,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,7,0
4,2,1,1,1,1,0,0,1,0,1,...,0,0,1,0,0,0,0,0,3,0

In [56]:
df['COVID'] = df['COVID'].replace(replace_map4)

In [57]:
df.head()

,LEVEL_TREATMENT,MEDICAL_UNIT,SEX,RETURNED_HOME,DEATH,INTUBE,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,COVID,ICU
0,2,1,0,1,1,0,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
1,2,1,1,1,1,0,1,1,0,0,...,0,0,1,0,0,1,1,0,0,0
2,2,1,1,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,2,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,1,1,1,1,0,0,1,0,1,...,0,0,1,0,0,0,0,0,1,0

In [73]:
X = df.drop(['COVID', 'DEATH'], axis = 1)
X.head()

,LEVEL_TREATMENT,MEDICAL_UNIT,SEX,RETURNED_HOME,INTUBE,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,2,1,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0
1,2,1,1,1,0,1,1,0,0,0,0,0,1,0,0,1,1,0,0
2,2,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
3,2,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,2,1,1,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0

In [90]:
y_death = df['DEATH']
y_covid = df['COVID']

In [91]:
y_death.head()
y_covid.head()

0    1
1    0
2    1
3    0
4    1
Name: COVID, dtype: int64

### DEATH as Target

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_death_train, y_death_test = train_test_split(X, y_death, test_size = 0.19, random_state = 42)

In [93]:
from sklearn.linear_model import LogisticRegression
model_death = LogisticRegression()
model_death.fit(X_train, y_death_train)

LogisticRegression()

In [94]:
pred_death = model_death.predict(X_test)

In [104]:
from sklearn.metrics import accuracy_score
accuracy_death = accuracy_score(y_death_test, pred_death)

In [105]:
print("Accuracy is :",round(accuracy_death * 100,2),"%")

Accuracy is : 96.56 %

### COVID as Target

In [139]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_covid_train, y_covid_test = train_test_split(X, y_covid, test_size = 0.19, random_state = 42)

In [140]:
from sklearn.linear_model import LogisticRegression
model_covid = LogisticRegression()
model_covid.fit(X_train, y_covid_train)

LogisticRegression()

In [141]:
pred_covid = model_covid.predict(X_test)

In [142]:
from sklearn.metrics import accuracy_score
accuracy_covid = accuracy_score(y_covid_test, pred_covid)

In [143]:
print("Accuracy is :",round(accuracy_covid * 100,2),"%")

Accuracy is : 84.15 %